<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.inria.ucn"
    android:versionCode="5"
    android:versionName="0.5" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    
    <!-- For OpenVPN for Android API -->
    <permission
        android:name="de.blinkt.openvpn.REMOTE_API"
        android:description="@string/openvpn_permission_description"
        android:label="control OpenVPN"
        android:permissionGroup="android.permission-group.NETWORK"
        android:protectionLevel="dangerous" />

    <uses-permission android:name="de.blinkt.openvpn.REMOTE_API" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Main UI (Basic Settings) -->
        <activity
            android:name="fr.inria.ucn.ui.SettingsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Background service -->
        <service android:name="fr.inria.ucn.CollectorService" android:exported="false" />

        <!-- Periodic collector scheduler alarm receiver -->
        <receiver android:name="fr.inria.ucn.Scheduler" android:exported="false" >
            <intent-filter>
                <action android:name="fr.inria.ucn.intent.action.COLLECT_ALARM" />
                <action android:name="fr.inria.ucn.intent.action.SCHEDULE_ALARM" />
                <action android:name="fr.inria.ucn.intent.action.UPLOAD_ALARM" />
            </intent-filter>
        </receiver>

        <!-- Boot receiver to restart the scheduled collection, enabled if logger is running. -->
        <receiver
            android:name="fr.inria.ucn.OnBootReceiver"
            android:enabled="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Network/screen state change collector, enabled if logger is running -->
        <receiver
            android:name="fr.inria.ucn.listeners.SystemStateListener"
            android:enabled="false" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            	<action android:name="android.intent.action.USER_PRESENT" />
	        </intent-filter>
		</receiver>

    </application>

</manifest>
